.about{
    flex: 1;
    flex-direction: column;
    height:179vh;
}

.about_img1{
    width: 70%;
}

.p_slider1{
    background-image: url("https://i.ibb.co/CnjBBdm/d4a7fd19b9c1325db35c74afc04c1731-removebg-preview.png");   
    background-attachment:fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    max-width: 1300px;
    width: 100%;
    height: 79vh;
    margin: auto;
}
.product-box1{
    max-width:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    user-select: none;
}
.product-box1 h3{
    font: size 2.4rem; 
    color: #2c492d;
    font-size: 30px;
}
.product-box-img1{
    width: 300px;
    height:370px;
    border-radius: 50%;
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;
    padding:20px;
}

.product-box-img1 img{
    width:100%;
    height:350px;
    object-fit: contain;
    object-position: left;
    overflow: visible;
}
.product-box-img1::before,
.product-box-img1::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 370px;
    height: 300px;
    transform: translate(-50%,-50%);
    top: 10%;
    left: -10%;
    border: 2px solid #e7e7e7;
    border-radius: 50%;
    z-index: -1;
    transform: rotate(-50deg);
    animation-name: rotate2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}
.product-box-img1::after{
    border: 2px solid #168fc7c0;
    animation-name: rotate;
}

.product-box-img{
    width: 300px;
    height:370px;
    border-radius: 50%;
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;
    padding:20px;
}

.product-box-img img{
    width:100%;
    height:350px;
    object-fit: contain;
    object-position: left;
    overflow: visible;
}
.product-box-img::before,
.product-box-img::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 370px;
    height: 300px;
    transform: translate(-50%,-50%);
    top: 10%;
    left: -10%;
    border: 2px solid #d6d1d6;
    border-radius: 50%;
    z-index: -1;
    transform: rotate(-50deg);
    animation-name: rotate2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}
.product-box-img::after{
    border: 2px solid #ba1d7bc0;
    animation-name: rotate;
}


@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}
@keyframes rotate2{
    from{ transform: rotate(360deg); }
    to{ transform: rotate(-360deg); }
}

.about_img1{
    display: flex;
    flex: 0 0 auto;
    color: #2e657f;
    background-color: rgb(224, 220, 205);
    background-repeat: no-repeat;
    width: 900px;
    height: 230px;
    background-size:cover;
    margin-top: -300px;
    float: right;
    text-align: center;
    border-radius: 20px;
    transition: all .6s ease;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 5px 0px,
      rgba(0, 0, 0, 0.5) 0px 2px 15px 0px;
      
}
.about_img1:hover{
    box-shadow: rgba(147, 103, 78, 0.4) 0px 2px 5px 0px,
      rgba(135, 135, 135, 0.5) 0px 2px 15px 0px;
      transition: all .3s ease;
  
  }
      
p{
    margin-top: 10px;
}